{# 引用通用页面模板 #}
{% extends 'PageHeadAndTailCommon.html' %}
{# 加载静态资源库 #}
{% load staticfiles %}

{# head链接JS文件 #}
{% block head-js %}

{% endblock %}

{# 链接CSS文件 #}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/Legal_statement.css' %}">
{% endblock %}

{# 页面标题 #}
{% block PageTitle %}
    智慧农业-法律声明
{% endblock %}

{# 浮动栏 #}
{% block fixed %}

{% endblock %}

{# 头部栏 #}
{% block header %}

{% endblock %}

{# 内容栏 #}
{% block content %}
    <div class="container" id="Statement">
			<h1 class="text-center">法律声明</h1>
			<h3 class="text-left">网站内容来源及版权所有</h3>
			<ul>
				<li>
					<p>&#12288;1、本站点中所标示出的"版权所有"是指南昌禄埠网络科技有限公司对于整个站点的标识、设计、文字、本站设计思想、本站构架以及本站自主设计、编写、制作的内容和图像等具有自主权限的版权声明。</p>
				</li>
				<li>
					<p>&#12288;2、南昌禄埠网络科技有限公司对于自主开发的或和他人共同开发的所有内容和服务拥有或与合作者共同拥有全部知识产权，受有关版权、商标权、服务商标、专利、专有权利等知识产权法律的保护。</p>
				</li>
				<li>
					<p>&#12288;3、南昌禄埠网络科技有限公司网络服务内容包括：文字、图片、图表中的全部内容；以及南昌禄埠网络科技有限公司为用户提供的其它信息。所有内容均受上述相关法律的保护。</p>
				</li>
				<li>
					<p>&#12288;4、本站点可能包含部分由其它组织、团体或商业机构提供的内容，所有内容的版权属于相应的提供者。本站点摘录或转载这些内容时均已获得版权持有人的许可，并按约定注明来源。</p>
				</li>
			</ul>

			<h3>引用本网站内容</h3>
			<ul>
				<li>
					<p>&#12288;1、遵从版权法和南昌禄埠网络科技有限公司关于本网站内容的声明，您可在非商业用途的情况下浏览、下载本网站的内容。如出于商业用途的使用（如：拷贝、下载、存储、通过硬拷贝或电子抓取系统、发送、转换、出租、演示、传播、出版，或任何方式的散发本网站的任何内容，或创造与内容有关的派生产品）则必须经过本公司的书面许可，并在使用时注明来源和版权系南昌禄埠网络科技有限公司所有的标记。对于网站和平面媒体违反国家有关法律法规，不尊重本网站声明，不经本网站同意，擅自使用本网站内容并不注明出处的行为，本网站保留采取法律措施，追究其责任的权利。</p>
				</li>
				<li>
					<p>&#12288;2、未经南昌禄埠网络科技有限公司的明确书面许可，任何人不得复制或在非南昌禄埠网络科技有限公司所属的服务器上做镜像。</p>
				</li>
				<li>
					<p>&#12288;3、如果您要使用本站点包含的由其它组织、团体或商业机构提供的内容。请直接与适当的版权持有人联系。与之相关的任何事务以及法律责任均与本站点无关。</p>
				</li>
				<li>
					<p>
						&#12288;4、任何个人和组织获得允许后以任何形式复制和传播本站点中版权属于南昌禄埠网络科技有限公司所有的内容，还必须遵守以下条件：
						<ol>
							<li>
								<p>&#12288;（1）摘录或引述应确保反映原文的真实含义。</p>
							</li>
							<li>
								<p>&#12288;（2）注明出处，即本站URL <a href="index">www.xxxxxx.cn</a></p>
							</li>
						</ol>
					</p>
				</li>
			</ul>

			<h3>链接注意事项</h3>
			<p>&#12288;若想在其它网站上提供至本网站的链接，请遵守以下规定：</p>
			<ul>
				<li>
					<p>&#12288;1、链接本网站必须与南昌禄埠网络科技有限公司签订正式协议。</p>
				</li>
				<li>
					<p>&#12288;2、除与南昌禄埠网络科技有限公司协议中有特殊约定外，链接必须指向URL <a href="index">www.xxxxxx.cn</a>而不是本网站的其它页面。</p>
				</li>
				<li>
					<p>&#12288;3、链接的外观，位置及其它方面必须不能有损或淡化南昌智软有限公司的名称。</p>
				</li>
				<li>
					<p>&#12288;4、链接的外观位置及其它有关方面不能给浏览者造成错觉。</p>
				</li>
				<li>
					<p>&#12288;5、当浏览者激活该链接时，本网站内容必须以全屏幕的方式显现，不能以Frame的方式呈现在链接网站上。</p>
				</li>
				<li>
					<p>&#12288;6、南昌禄埠网络科技有限公司有权收回链接者链接本网站的权利。</p>
				</li>
			</ul>

			<h3>特别声明</h3>
			<p>&#12288;本站点引用、摘录或转载来自第三方的文字内容时，并不表明这些内容代表南昌智禄埠网络科技有限公司的观点，其目的只是供访问者交流与参考。</p>
		</div>
{% endblock %}

{# 尾连接链接JS文件 #}
{% block foot-js %}

{% endblock %}