{# 引用通用页面模板 #}
{% extends 'PageHeadAndTailCommon.html' %}
{# 加载静态资源库 #}
{% load staticfiles %}

{# head链接JS文件 #}
{% block head-js %}

{% endblock %}

{# 链接CSS文件 #}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/new_tem.css' %}">
{% endblock %}

{# 页面标题 #}
{% block PageTitle %}
    智慧农业-新闻
{% endblock %}

{# 浮动栏 #}
{% block fixed %}

{% endblock %}

{# 头部栏 #}
{% block header %}

{% endblock %}

{# 内容栏 #}
{% block content %}
    <div class="container clearfix" id="Total_box">
			<div class="col-md-9 col-12 float-left" id="Core_box">
				<h2 class="text-left">{{ new.title }}</h2>
				<small class="float-right text-right"></small>
				<hr>
				<div class="col-12 core_main_news">
                    {% if new.image == '' %}
                        <div class="core_news_img_box" style="border-top: solid 1px rgba(51,51,51,0.25);"></div>
                    {% else %}
                        <div class="core_news_img_box">
                            <img alt="" src="../../static/images/{{ new.image }}" class="col-12">
                        </div>
                    {% endif %}

					<div class="core_news_text_box text-left">
						<p>{{ new.content | linebreaksbr }}</p>
                        <a href="{{ new.url }}" class="text-right"><p>{{ new.quote }}</p></a>
					</div>
					<div class="core_news_post_box clearfix">
						<span class="core_news_post_time_box float_left">
							<img class="core_news_post_time_ico" alt="" src="{% static 'images/time.png' %}" width="20px" height="20px">
							<span class="core_news_post_time_text">{{ new.created_time }}</span>
						</span>
						<span class="core_news_post_click_box float_left">
							<img class="core_news_post_click_ico" alt="" src="{% static 'images/click.png' %}" width="20px" height="20px">
							<span class="core_news_post_click_text">{{ new.hits }}</span>
						</span>
					</div>
				</div>

				<div class="Toggle_pages_box text-center clearfix">

                    {% if previous %}
                        <a href="{% url 'new_tem' previous.pk %}" class="float-left col-12 col-md-4">&#60; {{ previous.title }}</a>
                    {% else %}
                        <a class="float-left col-12 col-md-4">&#60; 无</a>
                    {% endif %}

                    {% if next %}
                        <a href="{% url 'new_tem' next.pk %}" class="float-right col-12 col-md-4">&#62; {{ next.title }}</a>
                    {% else %}
                        <a class="float-right col-12 col-md-4">&#62; 无</a>
                    {% endif %}

				</div>

				<div class="core_push_news clearfix">
					<h3>相关新闻</h3>
                    {% for S_new in new_list %}
                        {% if S_new.image != '' and forloop.counter <= 3 %}
                            <div class="col-12 col-md-4 core_push_new_box float-left text-center">
                                <div class="core_push_news_img_box push_new_box_1">
                                    <a href="{% url 'new_tem' S_new.pk %}"><img alt="" src="../../static/images/{{ S_new.image }}" class="col-12"></a>
                                </div>
                                <div class="core_push_news_text_box">
                                    <p><a href="{% url 'new_tem' S_new.pk %}">{{ S_new.title }}</a></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
				</div>
			</div>

			<div class="col-md-3 col-12 float-right" id="Side_box">
				<h3>相关热点</h3>
                {% for S_new in new_list %}
                    {% if S_new.image != '' and forloop.counter <= 6 and S_new.pk != new.pk %}
                        <div class="col-12 side_news">
                            <div class="side_news_img_box">
                                <a href="{% url 'new_tem' S_new.pk %}"><img alt="" src="../../static/images/{{ S_new.image }}" class="col-12"></a>
                            </div>
                            <div class="side_news_text_box">
                                <p><a href="{% url 'new_tem' new.pk %}">{{ S_new.title }}</a></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
			</div>
		</div>
{% endblock %}

{# 尾连接链接JS文件 #}
{% block foot-js %}
    <script src="{% static 'javascript/Link_dots.js' %}"></script>
{% endblock %}