{# 引用通用页面模板 #}
{% extends 'PageHeadAndTailCommon.html' %}
{# 加载静态资源库 #}
{% load staticfiles %}

{# head链接JS文件 #}
{% block head-js %}

{% endblock %}

{# 链接CSS文件 #}
{% block css %}
<link href="{% static 'css/soils.css' %}" rel="stylesheet">
{% endblock %}

{# 页面标题 #}
{% block PageTitle %}
作物生长数据
{% endblock %}

{# 浮动栏 #}
{% block fixed %}

{% endblock %}

{# 头部栏 #}
{% block header %}

{% endblock %}

{# 内容栏 #}
{% block content %}
<!--主题内容-->
<div class="container clearfix main">
    <!--        侧边导航栏-->
    <div class="col-md-3" style="float:left">
        <div class="model-title">
            作物生长数据
        </div>
        <div class="model-list">
            <ul class="list-group">
                <li class="list-group-item" id="seed">
                    <a href="{% url 'crop_type' 'seed' %}">种子信息</a>
                </li>
                <li class="list-group-item active" id="soil">
                    <a href="{% url 'crop_type' 'soil' %}" class="active">土壤信息</a>
                </li>
            </ul>
        </div>
    </div>
    <!--        说明文字和图片-->
    <div class="col-md-9" style="float:left">
        <div class="model-details-title">
            <span class="type_title">土壤信息</span>
            <form action="{% url 'search' 'soil' %}" method="GET">
                {% csrf_token %}
                <div class="search_by_global">
                    <input type="text" placeholder="请输入您需要搜索的内容" name="keyword" required>
                    <button class="search_btn">搜索</button>
                </div>
            </form>
        </div>
        <!--            此处填入产品列表内容-->
        <div class="model-details">
            {% for soil in soilList %}
            <a href="{% url 'crop_soil_id' soil.id %}" class="info">
                <div class="soil-model">
                    <img src="{% static 'images/newsicon.gif' %}">
                    <b>{{soil.soilName}}</b>
                    <span>【{{soil.createdTime|date:"Y-m-d"}}】</span>
                    <!-- 添加新闻简要说明-->
                    <p>{{soil.soilDescription|truncatechars:"110"}}...</p>
                </div>
            </a>
            {% endfor %}
            {% if pageData %}
            <div class="paging">
                <ul id="pages" class="pagination-self pagination-sm pagination=xs">
                    {% if pageData.back %}
                    <li><a href="?page={{pageData.backPage}}">上一页</a></li>
                    {% endif %}
                    {% if pageData.first %}
                    <li><a href="?page1">1</a> </li>
                    {% endif %}
                    {% if pageData.left %}
                    {% if pageData.left_has_more %}
                    <li><span>...</span></li>
                    {% endif %}
                    {% for i in pageData.left %}
                    <li><a href="?page={{i}}">{{i}}</a> </li>
                    {% endfor %}
                    {% endif %}
                    <li class="active"><a href="?page={{pageData.page}}">
                            {{pageData.page}}
                        </a> </li>
                    {% if pageData.right %}
                    {% for i in pageData.right %}
                    <li><a href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endfor %}
                    {% if pageData.right_has_more %}
                    <li><span>...</span></li>
                    {% endif %}
                    {% endif %}
                    {% if pageData.last %}
                    <li><a href="?page={{pageData.total_pages}}">
                            {{pageData.total_pages}}
                        </a> </li>
                    {% endif %}
                    {% if pageData.next %}
                    <li><a href="?page={{pageData.nextPage}}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{# 尾连接链接JS文件 #}
{% block foot-js %}

{% endblock %}