{# 引用通用页面模板 #}
{% extends 'PageHeadAndTailCommon.html' %}
{# 加载静态资源库 #}
{% load staticfiles %}

{# head链接JS文件 #}
{% block head-js %}

{% endblock %}

{# 链接CSS文件 #}
{% block css %}
<link href="{% static 'css/soilDetail.css' %}" rel="stylesheet">
<link href="{% static 'css/SoilseedDetail.css' %}" rel="stylesheet">
{% endblock %}

{# 页面标题 #}
{% block PageTitle %}
作物生长数据
{% endblock %}

{# 浮动栏 #}
{% block fixed %}

{% endblock %}

{# 头部栏 #}
{% block header %}

{% endblock %}

{# 内容栏 #}
{% block content %}
<div class="container soil_detail">
    <div class="row soil_detail_title">
        <div class="title">
            <span class="glyphicon glyphicon-align-left"></span>
            <span>详细信息</span>
        </div>
    </div>
    <div class="soilDetail_table_wrap">
        <table>
            <tbody>
                <tr>
                    <td class="head">土种名称</td>
                    <td class="content">{{soilSeedName}}</td>
                </tr>
                <tr>
                    <td class="head">描述</td>
                    <td class="content">{{soilSeedDescript}}</td>
                </tr>
                <tr>
                    <td class="head">分布和地形地貌</td>
                    <td class="content">{{distributionLandform}}</td>
                </tr>
                <tr>
                    <td class="head">面积（公顷）</td>
                    <td class="content">{{areaHectare}}</td>
                </tr>
                <tr>
                    <td class="head">面积（万亩）</td>
                    <td class="content">{{areaMu}}</td>
                </tr>
                <tr>
                    <td class="head">母质</td>
                    <td class="content">{{material}}</td>
                </tr>
                <tr>
                    <td class="head">剖面构型</td>
                    <td class="content">{{configuration}}</td>
                </tr>
                <tr>
                    <td class="head">有效土体深度</td>
                    <td class="content">{{effectSoilDepth}}</td>
                </tr>
                <tr>
                    <td class="head">主要性状</td>
                    <td class="content">{{mainCharacters}}</td>
                </tr>
                <tr>
                    <td class="head">土壤障碍因子</td>
                    <td class="content">{{barrierFactor}}</td>
                </tr>
                <tr>
                    <td class="head">生产性能</td>
                    <td class="content">{{productPerformance}}</td>
                </tr>
                <tr>
                    <td class="head">土地利用</td>
                    <td class="content">{{landUse}}</td>
                </tr>
                <tr>
                    <td class="head">典型剖面景观</td>
                    <td class="subclass_wrap">
                        <table class="subclass_table">
                            <thead>
                                <tr class="subclass_head">
                                    <th>典型剖面采集地点</th>
                                    <th>典型剖面高程</th>
                                    <th>典型剖面地点年均温</th>
                                    <th>典型剖面年降水(mm)</th>
                                    <th>详细</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="acquit_site">华安县城关后山</td>
                                    <td class="elevation">
                                        170*
                                    </td>
                                    <td class="ave_temperature">20.9*</td>
                                    <td class="preciptation">1618.1*</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="head">典型剖面理化性质</td>
                    <td class="subclass_wrap">
                        <table class="subclass_table">
                            <thead>
                                <tr class="subclass_head">
                                    <th>土种名称</th>
                                    <th>发生层次名称</th>
                                    <th>发生层序号</th>
                                    <th>层次相对厚度(cm)</th>
                                    <th>质地</th>
                                    <th>详细</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>泥 赤 土</td>
                                    <td>
                                        A
                                    </td>
                                    <td>1</td>
                                    <td>8</td>
                                    <td>LC</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>泥 赤 土</td>
                                    <td>
                                        AB
                                    </td>
                                    <td>2</td>
                                    <td>15</td>
                                    <td>C</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>泥 赤 土</td>
                                    <td>
                                        B
                                    </td>
                                    <td>3</td>
                                    <td>19</td>
                                    <td>C</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>泥 赤 土</td>
                                    <td>
                                        BC
                                    </td>
                                    <td>4</td>
                                    <td>68</td>
                                    <td>LC</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="head">统计剖面理化性质</td>
                    <td class="subclass_wrap">
                        <table class="subclass_table">
                            <thead>
                                <tr class="subclass_head">
                                    <th>省名</th>
                                    <th>土种名称</th>
                                    <th>发生层名称</th>
                                    <th>质地</th>
                                    <th>详细</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="province_name">福建</td>
                                    <td class="soil_name">泥赤土</td>
                                    <td>A</td>
                                    <td>SC</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="province_name">福建</td>
                                    <td class="soil_name">泥赤土</td>
                                    <td>B</td>
                                    <td>LC</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="province_name">福建</td>
                                    <td class="soil_name">泥赤土</td>
                                    <td>C</td>
                                    <td>LC</td>
                                    <td class="detail"><a href="javascript:void(0)">
                                            查看
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{# 尾连接链接JS文件 #}
{% block foot-js %}

{% endblock %}