@charset "utf-8";
/* CSS Document */

#Statement h1,#Statement h2,#Statement h3,#Statement h4,#Statement h5,#Statement h6,#Statement p{
	cursor: default;
	color: rgba(255,255,255,1.00);
}
#Statement h1{
	margin-top: 15px;
}
#Statement h3{
	margin-top: 30px;
	margin-bottom: 15px;
}
#Statement p{
	transition: 0.5s;
}
#Statement p:hover{
	color: rgba(0,211,255,1.00);
}
#Statement a{
	color: rgba(0,76,255,1.00);
	transition: 0.5s;
}
#Statement a:hover{
	color: rgba(255,0,142,1.00);
}