body {
  background: url("../images/white_background1.png");
  min-width:357px;
}

@media screen and (max-width: 455px) {
  .type_title {
    display:none
  }
  .model-list {
      text-align: center;
      font-size: 16px;
      padding: 10px 0px;
      color: #ff6a29;
      margin-bottom: 5px;
      margin-top: 5px;
    }
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 主题标题 */
.model-details-title {
  position: relative;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px #005197 solid; /* 底部添加蓝色边框 */
  color: #005197;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search_by_global {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  padding: 10px 0;
}

.search_by_global input {
  width: 220px;
  height: 21px;
  margin-top: -1px;
  margin-right: 5px;
  padding: 5px 0 5px 5px;
  border: 2px solid #00aeff;
  border-radius: 5px;
  color: #a0a0a0;
  font-size: 16px;
  box-sizing: content-box;
}

.search_by_global .search_btn {
  height: 35px;
  padding: 5px 10px;
  background-color: #00aeff;
  border: 1px solid #00aeff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.search_by_global input:focus {
  /* 按钮点击后的样式 */
  outline: none; /* 去除outline */
  box-shadow: 1px 1px 5px 1px#00b0f5; /* 增加盒子阴影 */
}

.search_by_global .search_btn:focus {
  /* 按钮点击后的样式 */
  outline: none; /* 去除outline */
  box-shadow: 0 0 1px 2px #00b0f5; /* 增加盒子阴影 */
}

/* 文字段落 */
.model-details .info:hover {
  color: #0087f5;
}

.model-details p {
  line-height: 30px;
  text-indent: 2em;
  text-align: justify;
  text-justify: inter-ideograph;
}
/* 主体图像 */

.model-details img {
  margin: 8px auto;
}

.model-details.row-4 {
  margin-top: 20px;
}
.model-details.row-5 {
  border: none;
}

.paging {
  text-align: center;
}

.pagination-self {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination-self li {
  display: inline;
}

.pagination-self a {
  text-align: center;
  margin-left: -1px;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  position: relative;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  float: left;
}

.pagination-self li.active a {
  color: #fff;
  background-color: #005197;
  border-color: #005197;
}

.pagination-self li span {
  position: relative;
  margin-left: -1px;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  float: left;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-self li a:hover,
.pagination-self li span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}

.pagination-self .active span,
.pagination-self .active a:hover,
.pagination-self .active span:hover {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination-self li:first-child a,
.pagination-self li:first-child span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination-self li:last-child a,
.pagination-self li:last-child span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*侧边导航栏标题样式*/
.model-title {
  text-align: center;
  font-size: 22px;
  padding: 15px 0px;
  color: #005197;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*侧边导航栏列表项样式*/
.model-list li {
  display: inline;
  text-align: center;
  background: url("../images/white_background1.png");
  border: 1px solid #333333;
  font-size: 16px;
  transition: all 0.3s linear;
}

.model-list li:hover {
  border: 1px solid #00b0f5;
  box-shadow: 0 0 0 1px #00b0f5;
}

/*侧边导航栏列表项链接激活样式*/
.model-list li a:hover {
  text-decoration: none;
  color: #00b0f5;
}

.model-list li a.active {
  text-decoration: none;
  color: #00b0f5;
}

/*侧边导航栏激活样式*/
.main .model-list li.active {
  text-align: center;
  font-size: 16px;
  border-color: #00aeff;
  color: #005197;
  box-shadow: 0 0 0 1px #00b0f5;
}

/*侧边导航栏激活状态下鼠标移过时样式*/
.model-list li.active:hover {
  text-align: center;
  font-size: 16px;
  background-color: #00b0f5;
}

/* 新闻列表样式 */
.soil-model {
  margin-top: 15px;
}
.soil-model span {
  float: right;
}
.soil-model a {
  color: #666;
  font-size: 16px;
}
.soil-model a:hover,
.soil-model a:focus {
  text-decoration: none;
  color: #d30a1c;
}
.soil-model p {
  margin-top: 5px;
  font-size: 13px;
}
